
.cm-editor {
  margin-left: 10%;
  margin-right: 10%;
}

.editor-buttons {
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.editor-button {
  margin-left: 20px;
}

.first_register_input_div {
  display: grid;
  justify-content: center;
  margin: 20px;
}